// import variables
@import "../utilidades/variables";

// import reseteo
@import "../general/reset";

/* inicio */
/* estilos body */
body {
    font-family: $fuente-general;
}

/* estilos header */
.logo-pagina {
    font-family: $fuente-logo;
    font-size: 34px;
}

.container-fluid {
    padding-right: 180px;
    padding-left: 250px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
}

header {
    nav {
        ul {
            margin: 10px;

            li {
                margin: 15px;
            }
        }
    }
}

.navbar-nav {
    margin-left: 700px;
}

.nav-link {
    font-weight: 600;
}

header {
    p {
        text-align: center;
        font-size: 14px;
        background-color: $color-principal;
        padding: 7px;
        margin: 0;
    }
}

/* estilos imagen de presentacion */
.img-texto-home {
    img {
        width: 100%;
        height: 965px;
        object-fit: cover;
    }
}

/* estilos coleccion productos */

h1 {
    text-align: center;
    font-size: 30px;
    margin: 35px 0px 40px 0px;
}

.productos-fila {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    div {
        margin: 0px 23px 45px 23px;
        overflow: hidden;
        height: 550px;

        &:hover {
            cursor: pointer;
        }

        img {
            width: 320px;
            transition: all 0.5s;

            &:hover {
                transform: scale(1.02);
            }
        }

        h3 {
            font-size: 13px;
            color: $color-secundario;
            margin: 9px 0px 10px 2px;
            font-weight: 600;
        }

        a {
            text-decoration: none;
            background-color: $color-secundario;
            color: $color-links;
            padding: 7px;
            font-size: 12px;
            margin-left: 2px;
        }
    }
}

.destacados {
    a {
        color: $color-secundario-links;
        text-decoration: none;
    }
}

/* estilos imagenes categorias */
.contenedor-categorias {
    margin: 35px 0px 65px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.destacados img {
    width: 450px;
    margin: 17px;
}

/* estilos footer */
footer {
    background-color: $color-principal;
    margin-top: 80px;
    padding-top: 30px;
}

.contenedor-links-footer {
    display: flex;
    justify-content: space-around;
}

h4 {
    font-size: 23px;
    text-align: center;
}

.subcontenedor-links-footer {
    margin-right: 800px;

    ul {
        list-style: none;
        padding-left: 0;

        li {
            margin-top: 5px;

            a {
                color: $color-secundario-links;
                text-decoration: none;
            }
        }
    }
}

.text-menu {
    font-weight: 600;
    font-size: 17px;
}

.contenedor-logos {
    img {
        display: block;
        margin-top: 10px;
        width: 18px;
    }
}

.parrafo-footer {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 30px;

    p {
        margin-bottom: 0;
    }
}