// import descarga de fuente
@import "../utilidades/fuente-descarga";

// variables
// fuente logo
$fuente-logo: "Aeroblade";

// fuente general
$fuente-general: "Montserrat", serif;

// colores
$color-principal: #f1ede8;
$color-secundario: #452b1a;
$color-links: white;
$color-secundario-links: black;